*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.outer{
    height: 100vh;
   
    display: flex;
}
.left{
 
    flex-basis: 50%;
    background-color: rgb(249, 251, 251);
}
.right{
    flex-basis:50%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
 



}
form{
    width: 300px;
    background-color: white;
       padding: 20px;
       border-radius: 20px;
        
}
input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(237, 174, 15);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    border: 2px yellow;
    cursor: pointer;
}
label{
    display: block;
    margin-bottom:5px;
    font-size: 20px;
    font-weight: bold;
    text-transform:uppercase;
    
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width:600px;
}

input::placeholder{
    font-weight: bold;
    font-size: 15px;
}
.footer{
    display: flex;
    justify-content: space-between;
    font-size:15px;
    font-weight: bold;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}

