*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    header{
        display: flex;
        flex-direction: row  ;
        justify-content:space-between;
        align-items: center;
        padding: 8px 40px;
        margin-bottom: 10px;
       
        
    }
    a{
        text-decoration: none;
        color: rgb(90, 9, 251);
        font-weight: bold;

    }
    .right{
        display: flex;
        gap: 5px;
    }
    .right>a{
       
        color:blue;
        width: 40px;
        height: 40px;
       
        display: flex;
        background-color: rgb(244, 240, 240);
       
        align-items: center;
        justify-content: center;
        border-radius: 50%;
       
       
    }
    .right>a:hover{
        background-color: orangered;
        color: white;
    }
    .left>a{
        
        display: inline-flex;
        align-items: center;
        gap: 10px;
        color: white;
         
    

    }
  .left>a>i{
   width: 40px;
   height: 40px;
   background-color: rgb(242, 242, 248);
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   color: blue;
                        
   
   
  
    
  }
  .left>a>i:hover{
    background-color: orangered;
    color: white;
  }
   
   
   
    
   body{
    background-image: url(https://images.unsplash.com/photo-1510851896000-498520af2236?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMG9mZmljZXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    
   }
     
   
img{
    width:200px;
    height: 80px;
}
.nav{
    display: flex;
    justify-content: center;

}
nav{
    width: 80%;
    background: white;
    padding: 6px 40px;
    font-size: 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px white;
    margin-bottom:80px;

}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    display: none;
    width: 300px;
    list-style: none;
    background:white;
    padding: 10px 0;
    box-shadow: 0px 4px 5px;
    border-radius: 5px;
   
}
.dropdown-menu li{
    border-bottom: 1px solid rgb(182, 172, 172);
}
.dropdown-menu li:last-child{
    border-bottom: none;
}


.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu>li>a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 12px;
    font-weight: 500;

}
.dropdown-menu  li  :hover{
    background-color: orangered;
        color: white;
   
}


.menu{
    display:flex;
    list-style: none;
    gap:40px;
}
.menu>li>a{

    font-size: 20px;
    color: rgb(61, 57, 57);
    text-transform: capitalize;
    font-weight:bold;

}
.menu>li>a:hover{
    color: orange;
}
#enq-btn
   {
    width: 130px;
    padding: 15px;
    background-color:orangered;
    font-size:15px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px orangered;
    cursor: pointer;
   
    
    
   }
 #enq-btn:hover{
    background-color: black;

 }
 #slider{
    display: flex;
  
     position: relative;
     width: 40%;
     
    
   

    
 }
 .topic1 .appear-item {
    background: linear-gradient(lightgrey,white,lightgrey);
    
font-size: 30px;
display: flex;    
justify-content: center;
color: rgb(231, 76, 9);



 }
  .topic2 .appear-item {
    background: linear-gradient(lightgrey,white,lightgrey);
    
font-size: 30px;
display: flex;    
justify-content: center;
color: rgb(231, 76, 9);



 }
 .appear-item{
    margin-bottom: 50px;
    color: rgb(251, 247, 247);
    letter-spacing: 2px;
    
    
 }
 p{
    font-size: larger;
    text-transform: capitalize;
 }
 .topic1{
    margin-bottom: 20px;
 }
 

 .slide{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    pointer-events: none;
 }
 .slide.show{
    opacity: 1;
    pointer-events: auto;

 }
 .show{
    opacity: 1;
 }

  .appear-item {
    opacity: 0;
    transform: translateY(15px);
    transition: 0.6s ease-in-out;
}
.appear-item.show {
    opacity: 1;
    transform: translateY(0);
}

h2{
    font-size: 30px;
   
    text-transform:capitalize;
    
}
span{
    color: orangered;
}

#med-btn{
   width: 300px;
    padding: 15px;
    background-color:orangered;
    font-size:12px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px orangered;
    letter-spacing: 1px;
    cursor: pointer;

}

#book-btn{
    width: 300px;
    padding: 15px;
    background-color:orangered;
    font-size:12px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px orangered;
    letter-spacing:1px;
    cursor: pointer;
}

#book-btn:hover {
    color: black;
    background-color: white;
}

#med-btn:hover{
     color: black;
     background-color: white;
}
