<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_409cedbaf1c3554edd68d16cfa421be1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_409cedbaf1c3554edd68d16cfa421be1" ></div>
        
</body>
<script>
    
    
            var map_409cedbaf1c3554edd68d16cfa421be1 = L.map(
                "map_409cedbaf1c3554edd68d16cfa421be1",
                {
                    center: [12.87960515, 79.70427615297989],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e1e3be4616ef281eee5c1542595f2fed = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_409cedbaf1c3554edd68d16cfa421be1);
        
    
            var marker_5be846df52fbac43c6d4ace8a07df125 = L.marker(
                [12.87960515, 79.70427615297989],
                {}
            ).addTo(map_409cedbaf1c3554edd68d16cfa421be1);
        
    
        var popup_c2f3c7f0a06d125e58d7812baf062de3 = L.popup({"maxWidth": "100%"});

        
            
                var html_9de676e3fa17b2a50f9008710f4c8554 = $(`<div id="html_9de676e3fa17b2a50f9008710f4c8554" style="width: 100.0%; height: 100.0%;">kancheepuram</div>`)[0];
                popup_c2f3c7f0a06d125e58d7812baf062de3.setContent(html_9de676e3fa17b2a50f9008710f4c8554);
            
        

        marker_5be846df52fbac43c6d4ace8a07df125.bindPopup(popup_c2f3c7f0a06d125e58d7812baf062de3)
        ;

        
    
</script>
</html>